#tableau{
    background-color: rgb(38, 136, 55);
}

.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    color: rgb(245, 245, 245);
}
#gameContainer{
    font-family: "Eraser", "Arial";
    text-align: center;
    color: rgb(237, 236, 233);
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

#restartBtn{
    border-radius: 2rem;
    cursor: pointer;
    background-color: rgba(2, 22, 15, 0.795);
    color: rgb(255, 255, 255);
    display: block;
    margin : 0 auto 1rem;
    width: 5rem;
    height: 2rem;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer; 
}
